<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <title th:align="center">Здравствуйте!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body >
<header th:insert="Blocks/Header :: Header"></header>
<br>
<br>
<br>
<br>
<br>
<br>
<h1 align="center">Здравствуйте!</h1>
<h2 align="center">Это информационная база ресторана "Аджика"</h2>
<h3 align="center">Для продолжения выберите подсистему</h3>
<br>
<br>
<br>
<br>
<br>
<br>
<!--<p align="center"th:text="'Дарова, ' + ${name} + '!'+ ${age}"/>-->


<!--<form align="center" action="/people" method="post">-->
<!--    <input type="text" name="adress" placeholder="адрес">-->
<!--    <input type="number" name="money" placeholder="денюжки">-->
<!--    <button class="btn btn-success" type="submit">Отправить</button>-->
<!--</form>-->


<footer th:insert="Blocks/Footer :: Footer" ></footer>
</body>
</html>