<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <link rel="stylesheet" href="//fonts.googleapis.com/css2?family=Material+Icons+Outlined&v=1648034229241">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <title>Личные сообщения</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<header th:insert="blocks/header :: Header" ></header>

<body style="margin-top:70px">
<div align="center">
    <h1 align="center">Переписки</h1>
    <br>
    <div align="center" th:each="el:${talkto}" style="width:60%">
        <a style="color:#222222; text-decoration: none; data-align:middle"  th:href="'/msg/'+${el.getValue()}" >
            <div class="rounded" align="center" style="background-color:#aaaaaa">
                <br>
                    <img class="rounded-circle" th:src="${userrep.findByUsername(el.getValue()).getAvatarlink()}" style="display:inline-block;" height="30px" width="30px" >
                    <h3 th:text="${el.getValue()}" style="display:inline-block;"/>
                    <br>
                <br>
            </div>
        </a>

        <br>
    </div>
</div>
<footer th:insert="blocks/footer :: Footer"></footer>
</body>
</html>