<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <link rel="stylesheet" href="//fonts.googleapis.com/css2?family=Material+Icons+Outlined&v=1648034229241">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <title>Личные сообщения</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();
   for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
   k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(91027398, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
    <noscript><div><img src="https://mc.yandex.ru/watch/91027398" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
</head>
<script language="JavaScript">
    if (screen.width<1280){
        document.write("<style>body{zoom:150%}</style>");
    }
</script>
<header th:insert="blocks/header :: Header" ></header>
<body style="margin-top:70px">
<div align="center">
    <h1 align="center">Переписки</h1>
    <br>
    <h5 th:if="${talkto.isEmpty()}">Похоже, у вас нет ни с кем переписок. Начните, перейдя в профиль другого пользователя и кликнув на кнопку "Написать сообщение"</h5>
    <div th:if="${!talkto.isEmpty()}">
        <div align="center" th:each="el:${talkto}" style="width:60%">
            <a style="color:#222222; text-decoration: none; data-align:middle"  th:href="'/msg/'+${el.getValue()}" >
                <div class="rounded" align="center" style="background-color:#aaaaaa">
                    <br>
                    <div>
                        <img class="rounded-circle" th:src="${userrep.findByUsername(el.getValue()).getAvatarlink()}" style="display:inline-block;" height="35px" width="35px" >
                        <h3 th:text="${el.getValue()}" style="display:inline-block;"/>
                    </div>
                    <br>
                    Последнее сообщение:
                    <div >
                        <div class="rounded" style="background-color:#999999; width:50%">
                            <img class="rounded-circle" th:src="${userrep.findByUsername(mesrep.findById(el.getKey()).get().getFromName()).getAvatarlink()}" style="display:inline-block;" height="15px" width="15px" >
                            <h6 th:text="${mesrep.findById(el.getKey()).get().getFromName()}" style="display:inline-block;"/>
                        </div>
                        <div class="rounded" style="background-color:#888888; width:60%">
                            <h4 th:text="${mesrep.findById(el.getKey()).get().getText()}" style="display:inline-block;"/>
                        </div>
                        <div class="rounded" style="background-color:#999999; width:40%">
                            <h6 th:id="${el.getKey()}" style="display:inline-block;"/>
                        </div>
                        <script th:inline="javascript">
                            var dnum = [[${(df1.parse(mesrep.findById(el.getKey()).get().getDate().toString())).getTime()}]];
                            var offset = new Date().getTimezoneOffset();
                            var d = new Date();
                            d.setTime(dnum);
                            var s = d.toLocaleDateString('ru-ru', { year:"numeric", month:"long", day:"numeric",hour:"numeric",minute:"numeric"});
                            document.getElementById("[[${el.getKey()}]]").textContent= s;
                        </script>
                    </div>
                </div>
            </a>
            <br>
        </div>
    </div>
</div>
<footer th:insert="blocks/footer :: Footer"></footer>
</body>
</html>