<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <title>Меню</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body >
<header th:insert="Blocks/Header :: Header" ></header>
<br>
<h1 align="center">Лента новостей</h1>

<div align="center">
    <a type="button" class="btn btn-success" style="color:#ffffff" href="/nws/crt_nws">Создать запись</a>
</div>
<br>
<div align="center" th:each="el:${news}" style="background-color:#ffbe8f">

    <h3 th:text="${el.getAuthorName()}"/>
    <h2 th:text="${el.getText()}"/>
    <a type="button" class="btn btn-info" style="color:#ffffff" th:href="@{/nws/{id}(id=${el.getId})}">Подробнее...</a>

    <h2> </h2>
</div>
<br>
<footer th:insert="Blocks/Footer :: Footer"></footer>
</body>
</html>