<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:text-color="http://www.w3.org/1999/xhtml">
<head><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
  <title>Регистрация</title>
</head>
<body style="background-color:">
<header th:insert="Blocks/Header :: Header" ></header>


<form align="center" th:action="@{/registration}" method="post" >
  <div><label> Логин: <input type="text" name="username" class="form-control"/> </label></div>
  <div><label> Пароль: <input type="password" name="password" class="form-control"/> </label></div>
  <div><input class="btn btn-success" type="submit" value="Зарегистрироваться" /></div>
  <div style="color:#ff0000" th:if="${message}">
    <p th:text="${message}"></p>
  </div>
</form>
<footer th:insert="Blocks/Footer :: Footer"></footer>

</body>
</html>