<footer class="py-3 my-4" >
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    </ul>
    <p class="text-center text-muted">© 2022 Shapyshka, Inc</p>
    <div align="center">
        <!-- Yandex.Metrika informer -->
        <a href="https://metrika.yandex.ru/stat/?id=91027398&amp;from=informer" target="_blank" rel="nofollow">
            <img src="https://informer.yandex.ru/informer/91027398/1_1_FFFFFFFF_FFFFFFFF_0_uniques"
            width="80px" height="15px" border="0" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (уникальные посетители)" />
        </a>
        <!-- /Yandex.Metrika informer -->
    </div>
</footer>
